@media screen and (min-width:1080px){

    body{
        .inicio{
            width: 100%;
        }
        header{

            figure{
                margin-left:14%;
                img{
                height: 59.1px;
                }   
            }    

            nav{
                    width: 100%;
                    margin-left: 35%;
                    display: inline-flex;

                    .menu{
                        margin-right: 0;
    
                        span{
                           display: none;
                        }
                        input{
                            display: none;
                        }
    
                        ul{
                            display: flex; 
                            position: unset;
                            background: none;
                            width:400px; 
                            &.dark{
                                background-color: $background-dark;
                            }
                            
    
                            li{
                                margin: 0;
                                width: 130px; 

                                
                            
                                
                                a{ 
                                    font-family: 'Montserrat';
                                    font-weight: bold;
                                    font-size: 13px;
                                    color: #572EE5;
                                    letter-spacing: 0;
                                    text-align: center;  
                                    
                                }  
                            }
                            .li{
                                display: none;
                            }
                        }        
                    }
                    button{
                        display: inline-block;
                        background-color: white;
                        margin-right:175px;
                        border:#572EE5 solid 1px;
                        border-radius: 50%;
                        padding: 2%;
                    }                                  
                }                    
        }       
        
        main{
            section{

                h1{
                   
                    font-size: 35px;
                    margin-top: 76px;
                    padding-left: 22%;
                    padding-right: 22%;
                }
            }

            section{

                figure{

                    img{
                        width: 24rem;
                    }
                }
            }

            section{
                input{
                    width: 35rem;
                    margin-left: 2%;
                }

                .buscador{
                    margin-left: 34em;
                }
            }

            .reactions{
                 
                h2{
                    font-size: 18px;
                    margin-top: 4em;
                }

                p{
                    font-size: 16px; 
                    
                }
            }

            .trending{

             figure{
 
                ul{
                    display: flex;
                    li{

                        img{
                            padding: 2vh;
                            height: 25vh;
                            width: 25vw;
                            margin-left: 40%;
                        }
                    }

                      
                    .botones{

                        .img-guia{
                            position: relative;
                        }

                       div{
                           display: flex;
                           flex-wrap: wrap;
                           position: absolute;
                           margin-left: 17%;
                           margin-top: 1,5%;


                            button{
                                background-color: inherit;
                                padding: 2%;
                                

                             img{
                                height: 6vh;
                                width: 4vw;
                                border-radius: 10%;
                                
                                }
                            }    
                        }
                    }
                       
                
            
                    #trending-list{
                        width: 100%;
                    }
                }
                }
            }
        }

        footer{


            .compartir{
                margin: 0;
                p{
                    display: inline-block;
                    margin-left: 156px;
                    margin-right: 17px;
                    font-size: 13px;
                }

                div{
                    display: inline-block;

                    i{
                        &:hover {
                            color:#572EE5;
                        }
                    }
                }

                .derechos{
                  float: right;
                  margin-right: 158px;
                  font-size: 13px;
                 }
            }
        
        }


    }


}