/*Estilo ligth version*/
/*Background*/
$background-primario: white;
$background-secundario:#F3F5F8;
/*Colores*/
$color-principal:#572EE5;
$color-secundario:#50E3C2;
$color-fuentes:#000000;
$color-fuentes2:white;
$color-iconos:#CDD6E0;
/*Fuentes*/
$fuente-primaria:'Montserrat';
$fuente-secundaria:'Roboto';
/*Dark Mode */
$background-dark: #37383C;
$backgroundSecundario-dark:#222326;
$background-darkMenu:#000000 ;
$fuente-principal:#FFFFFF;
