@import "_style";


    main{
        text-align: center;
        img{
            margin-bottom: 7px;
            
        }

        h2{
            color:$color-principal;
            font-family:$fuente-primaria;
            text-align: center;
            font-size: 20px;
            line-height: 30px;
        }
    }

    .vermas{
        text-align: center;
             button{
                 background-color:$background-primario;
                 border: $color-principal 1px solid;
                 padding: 3%;
                 border-radius:30%;
                 color: $color-principal;
                 font-family:$fuente-primaria;
                 font-size: 13px;
                 letter-spacing: 0;
                 font-weight: bold;

             }
    }       


